#FTP backup
host=
username=
password=

#SMTP settings
MATTERMOST_EMAIL=
SMTP_PORT=
SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_SECURITY=

#MYSQL settings
MYSQL_MM_PASS=
MYSQL_MM_ROOTPASS=

#initial mm start settings, put anything longer than 34 symbols here
SECRET_KEY=
LINK_SALT=
RESET_SALT=
INVITE_SALT=
